@charset "UTF-8";
@font-face {
    font-family: 'Idroid';
    src: url('fontes/idroid.otf');
}

body {
    margin: 0px;
    background-color: #8fe4b4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-image: linear-gradient(to bottom, #3BDA81, #185934);
    height: 200px;
    margin: 0px;
}

header > div {
    color: white;
    height: 120px;
    width: 430px;
    padding: 30px;
    text-align: center;
    margin: auto;
}

div > h1, div > p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.438);
}

nav > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 3px 10px;
    transition-duration: .2s;
}

nav > a:hover {
    background-color: #3BDA81;
    color: #335944;
}

section {
    background-color: white;
    width: 80%;
    max-width: 1000px;
    min-width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.445);
}

p.artigo {
    text-align: justify;
    text-indent: 20px;
}

section > h2, section > h3 {
    color: #217a48;
    font-family: 'Idroid', Arial, sans-serif;
}

section > h3 {
    background-image: linear-gradient(to right, #74e2a494, #7fdfa934);
}

img {
    width: 100%;
}

div.media > img, iframe {
    max-width: 700px;
    max-height: 400px;
    display: block;
    margin: 0 auto;
}

footer {
    text-align: center;
    background-color: #335944;
    color: white;
    margin: 10px 0px 0px 0px;
    padding: 5px;
}

footer > p {
    margin: 0px;
}

section.extras {
    background-color: #c3e7d3;
    padding: 0px;
    width: 100%;
    border-radius: 10px;
}

section.extras > h1 {
    color: white;
    background-color: #2ca15f;
    margin: 0px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;

}

section.extras > p {
    text-align: justify;
    padding: 10px;
    text-indent: 20px;
}

section.extras > div {
    width: 100%;
    display: flex;
}

div > ul {
    padding-inline-start: 30px;
    width: 500px;
}